@import url("https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Open+Sans:wght@300;400;500;600;700;800&family=Pacifico&display=swap");
:root {
  --color-primary-light:#F58F22;
  --color-primary-dark:#EF6712;
  --para:#414141;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media (max-width: 77.5em) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 64em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 43.25em) {
  html {
    font-size: 43%;
  }
}
@media (max-width: 32em) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: "open sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #F6F6F6;
}

.i {
  font-style: italic;
}

.normal {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.f-10 {
  font-size: 1rem;
}

.f-11 {
  font-size: 1.1rem;
}

.f-12 {
  font-size: 1.2rem;
}

.f-14 {
  font-size: 1.4rem;
}

.f-16 {
  font-size: 1.6rem;
}

.f-18 {
  font-size: 1.8rem;
}

.f-20 {
  font-size: 2rem;
}

.f-22 {
  font-size: 2.2rem;
}

.f-24 {
  font-size: 2.4rem;
}

.f-26 {
  font-size: 2.6rem;
}

.f-30 {
  font-size: 3rem;
}

.l-16 {
  line-height: 1.6rem;
}

.l-18 {
  line-height: 1.8rem;
}

.l-19 {
  line-height: 1.9rem;
}

.l-20 {
  line-height: 2rem;
}

.l-21 {
  line-height: 2.1rem;
}

.l-22 {
  line-height: 2.2rem;
}

.l-24 {
  line-height: 2.4rem;
}

.l-26 {
  line-height: 2.6rem;
}

.l-28 {
  line-height: 2.8rem;
}

.d-inline-block {
  display: inline-block;
}

.ls-p1 {
  letter-spacing: 0.1px;
}

.ls-p2 {
  letter-spacing: 0.2px;
}

.ls-1 {
  letter-spacing: 1px;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-ib {
  display: inline-block;
}

.dn.dnone {
  display: none;
}

.light-shadow {
  box-shadow: 0 2px 8px rgba(222, 227, 242, 0.4);
}

.b-5 {
  border: 0.5px solid #CFD7ED;
  border-radius: 10px;
}

.p.pl {
  padding-right: 2.73rem;
}

.para-col {
  color: #414141;
}

.m-2 {
  margin-bottom: 0.2rem;
}

.m-3 {
  margin-bottom: 0.3rem;
}

.m-4 {
  margin-bottom: 0.4rem;
}

.m-5 {
  margin-bottom: 0.5rem;
}

.m-6 {
  margin-bottom: 0.6rem;
}

.m-7 {
  margin-bottom: 0.7rem;
}

.m-8 {
  margin-bottom: 0.8rem;
}

.m-9 {
  margin-bottom: 0.9rem;
}

.m-10 {
  margin-bottom: 1rem;
}

.m-12 {
  margin-bottom: 1.2rem;
}

.m-13 {
  margin-bottom: 1.3rem;
}

.m-14 {
  margin-bottom: 1.4rem;
}

.m-17 {
  margin-bottom: 1.7rem;
}

.m-18 {
  margin-bottom: 1.8rem;
}

.m-20 {
  margin-bottom: 2rem;
}

.m-21 {
  margin-bottom: 2.1rem;
}

.m-44 {
  margin-bottom: 4.4rem;
}

.ml-20 {
  margin-left: 2rem;
}

.mr-4 {
  margin-right: 0.4rem;
}

.mr-5 {
  margin-right: 0.5rem;
}

.mr-6 {
  margin-right: 0.6rem;
}

.mr-10 {
  margin-right: 1rem;
}

.mr-12 {
  margin-right: 1.2rem;
}

.mr-13 {
  margin-right: 1.3rem;
}

.mr-20 {
  margin-right: 2rem;
}

.mt-53 {
  margin-top: 5.3rem;
}

.mt-56 {
  margin-top: 5.6rem;
}

.mt-16 {
  margin-top: 1.6rem;
}

.mt-21 {
  margin-top: 2.1rem;
}

.mt-50 {
  margin-top: 5rem;
}

.pr-22 {
  padding-right: 2.2rem;
}

.pr-37 {
  padding-right: 3.7rem;
}

.pr-29 {
  padding-right: 2.9rem;
}

.pr-123 {
  padding-right: 12.3rem;
}

.pr-294 {
  padding-right: 29.4rem;
}

.pb-10 {
  padding-bottom: 1rem;
}

.pb-16 {
  padding-bottom: 1.6rem;
}

.pl-10 {
  padding-left: 1rem;
}

.pl-16 {
  padding-left: 1.6rem;
}

.px-26 {
  padding-left: 2.6rem;
  padding-right: 2.6rem;
}

.py-17 {
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
}

.header {
  height: 6.5rem;
  border-bottom: 5rem solid transparent;
  -o-border-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
     border-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  border-image-slice: 1;
}
.header__logo {
  padding: 1.8rem 0 1.9rem 4rem;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
}
.container__right {
  box-sizing: border-box;
  max-width: 79.8rem;
  padding-left: 6rem;
  background-color: #FFF2E3;
  position: relative;
}
.container__right-img {
  position: absolute;
  top: 2.6rem;
}
.container__right-head {
  display: inline-block;
  padding-right: 2rem;
  padding-top: 9.71rem;
}
.container__right-head--1 {
  margin-bottom: 1.2rem;
}
.container__right-head--2 {
  margin-bottom: 1.8rem;
}
.container__right__search {
  margin-top: 4.4rem;
  max-width: 67.8rem;
  display: flex;
  align-items: center;
  padding-right: 6rem;
}
.container__right__search-input {
  padding: 2.98rem 0 2.9rem 5.5rem;
  box-sizing: border-box;
  width: 67.8rem;
  color: #8B8B8B;
  border: none;
  outline: none;
  line-height: 2.2rem;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px 0px rgba(248, 111, 0, 0.15);
  border-radius: 5px;
  border: 1px solid rgb(242, 228, 214);
  margin-right: -21.5rem;
  margin-left: -4.1rem;
}
.container__right__search-icon {
  z-index: 2;
  margin-left: 2rem;
}
.container__right__search-button {
  border: none;
  color: #FFFFFF;
  padding: 1.8rem 6.8rem;
  border-radius: 5px;
  background-color: #F3831D;
  text-transform: uppercase;
  text-align: center;
  margin-right: 1.3rem;
  letter-spacing: 1px;
}
.container__right-para {
  margin-top: 4rem;
  letter-spacing: 0.2px;
}
.container__right-queries {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 31.2rem auto;
  grid-template-rows: repeat(2, auto);
  row-gap: 1.2rem;
  -moz-column-gap: 1.86rem;
       column-gap: 1.86rem;
}
.container__right-queries--1, .container__right-queries--2, .container__right-queries--3, .container__right-queries--4 {
  max-width: -moz-max-content;
  max-width: max-content;
}
.container__right__view-more {
  color: #004A7F;
  margin-top: 1.3rem;
  margin-left: 3rem;
  margin-right: 0.7rem;
  padding-bottom: 11rem;
}
.container__left {
  background-color: #fff;
}
.container__left__heading {
  letter-spacing: 0.2px;
  padding: 5rem 0 0 5.2rem;
}
.container__left__products {
  display: grid;
  grid-template-columns: repeat(2, 17.5rem);
  grid-template-rows: repeat(2, auto);
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  row-gap: 2.5rem;
  margin: 2.5rem 5.46rem 0 5.3rem;
}
.container__left__products-img--1 {
  margin-bottom: 2.98rem;
}
.container__left__products-img--2 {
  margin-bottom: 3.1rem;
}
.container__left__products-img--3 {
  margin-bottom: 3.81rem;
}
.container__left__products-img--4 {
  margin-bottom: 0.9rem;
}
.container__left__products-navigate {
  position: absolute;
  bottom: -1.2rem;
  right: -0.8rem;
  display: inline-block;
}
.container__left__products-name {
  font-size: 2rem;
  line-height: 2.72rem;
}
.container__left__products-desc {
  font-size: 1.2rem;
  line-height: 1.63rem;
  color: #8B8B8B;
  padding: 0 2.7rem 2.5rem 0;
}
.container__left__products--1, .container__left__products--2, .container__left__products--3, .container__left__products--4 {
  padding: 2.4rem 0 0 2.53rem;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.0784313725);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.container__left__products--1 {
  border: 1px solid rgba(0, 122, 64, 0.2);
}
.container__left__products--2 {
  border: 1px solid rgba(205, 98, 0, 0.2);
}
.container__left__products--3 {
  border: 1px solid rgba(178, 72, 181, 0.2);
}
.container__left__products--4 {
  border: 1px solid rgba(109, 77, 238, 0.2);
}

.query {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #004A7F;
  display: flex;
  align-items: center;
}
.query img {
  margin-right: 1.6rem;
}

.ans {
  font-size: 10px;
  font-style: italic;
  line-height: 14px;
  margin-left: 3rem;
}

.container__r-2 {
  min-width: 50%;
}
.container__r-head-2 {
  padding-top: 5.23rem;
}
.container__r-head--1 {
  margin-bottom: 0.6rem;
}
.container__r-head--2 {
  margin-bottom: 1.1rem;
}
.container__r__search {
  margin-top: 3.6rem;
}
.container__r-para {
  margin-top: 5rem;
}
.container__r-queries {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.container__r__view-more {
  margin-top: 1.96rem;
  padding-bottom: 5rem;
}
.container__l-2 {
  min-width: 50%;
  padding-left: 5.05rem;
  position: relative;
}
.container__l__heading {
  color: #F67C0B;
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
  padding-top: 5.3rem;
}
.container__l__heading img {
  margin-right: 0.7rem;
}
.container__l-timeImg {
  position: absolute;
  top: 0;
  right: 3.3rem;
}
.container__l__product-card {
  padding-left: 1.46rem;
  border: 0.71px solid #CD6200;
  background-color: #FEF3E8;
  display: inline-block;
  margin-top: 1.7rem;
  border-radius: 3.55px;
}
.container__l__product-card-img {
  padding: 1.42rem 7.54rem 0 0;
}
.container__l__product-card-name {
  padding: 1.2rem 0 1.18rem 0;
  color: #CD6200;
}
.container__l__product-types {
  display: grid;
  grid-template-columns: repeat(4, 13.9rem);
  grid-template-rows: repeat(2, auto);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 4.1rem;
  margin-top: 2rem;
  color: #894302;
}
.container__l__product-types-navigate {
  position: absolute;
  bottom: -11px;
  right: -9px;
}
.container__l__product-types--1, .container__l__product-types--2, .container__l__product-types--3, .container__l__product-types--4, .container__l__product-types--5, .container__l__product-types--6, .container__l__product-types--7, .container__l__product-types--8, .container__l__product-types--9, .container__l__product-types--10 {
  position: relative;
  padding: 1.7rem 0 0 1.6rem;
  border: 1px solid rgba(252, 152, 60, 0.2);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.0784313725);
  background-color: #FFB571;
  border-radius: 5px;
  cursor: pointer;
}
.container__l__product-types--1-name, .container__l__product-types--2-name, .container__l__product-types--3-name, .container__l__product-types--4-name, .container__l__product-types--5-name, .container__l__product-types--6-name, .container__l__product-types--7-name, .container__l__product-types--8-name, .container__l__product-types--9-name, .container__l__product-types--10-name {
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 3.36rem;
}
.container__l__product-types--1-img {
  margin-bottom: 1.62rem;
}
.container__l__product-types--1-name {
  padding-right: 3.9rem;
}
.container__l__product-types--2-img {
  margin-bottom: 1.98rem;
}
.container__l__product-types--2-name {
  padding-right: 6.2rem;
}
.container__l__product-types--3-img {
  margin-bottom: 2.6rem;
}
.container__l__product-types--3-name {
  padding-right: 2.8rem;
}
.container__l__product-types--4-img {
  margin-bottom: 2.52rem;
}
.container__l__product-types--4-name {
  padding-right: 7.1rem;
}
.container__l__product-types--5-img {
  margin-bottom: 1.62rem;
}
.container__l__product-types--5-name {
  padding-right: 6.9rem;
}
.container__l__product-types--6-img {
  margin-bottom: 1.62rem;
}
.container__l__product-types--6-name {
  padding-right: 3.7rem;
}
.container__l__product-types--7-img {
  margin-bottom: 1.03rem;
}
.container__l__product-types--7-name {
  padding-right: 1.5rem;
}
.container__l__product-types--8-img {
  margin-bottom: 2.1rem;
}
.container__l__product-types--8-name {
  padding-right: 1.6rem;
}
.container__l__product-types--9-img {
  margin-bottom: 2.25rem;
}
.container__l__product-types--9-name {
  padding-right: 5.3rem;
}
.container__l__product-types--10-img {
  margin-bottom: 2rem;
}
.container__l__product-types--10-name {
  padding-right: 5.6rem;
}

.container__r-line {
  position: absolute;
  top: 14.3rem;
  left: 11.75rem;
}
.container__r-3 {
  position: relative;
  width: 50%;
  background-color: #fff;
}
.container__r__content {
  padding: 5.3rem 4.18rem 4.4rem 9.1rem;
}
.container__r__content__back {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.container__r__content__back-text {
  color: #FC983C;
  text-decoration: none;
}
.container__r__content__process-head {
  display: flex;
  align-items: stretch;
  gap: 1.1rem;
}
.container__r__content__process-head-img {
  background-color: #FC983C;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.0784313725);
  border-radius: 5px;
  height: 5.1rem;
  width: 5.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__r__content__process-head-img-1 {
  padding: 1.03rem 9rem 1.1rem 9rem;
}
.container__r__content__process-steps--1, .container__r__content__process-steps--2, .container__r__content__process-steps--3, .container__r__content__process-steps--4, .container__r__content__process-steps--5 {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.container__r__content__process-steps--1:not(:last-child), .container__r__content__process-steps--2:not(:last-child), .container__r__content__process-steps--3:not(:last-child), .container__r__content__process-steps--4:not(:last-child), .container__r__content__process-steps--5:not(:last-child) {
  margin-bottom: 2rem;
}
.container__r__content__process-steps--1-num, .container__r__content__process-steps--2-num, .container__r__content__process-steps--3-num, .container__r__content__process-steps--4-num, .container__r__content__process-steps--5-num {
  color: #FC983C;
  border: 1px solid #FC983C;
  border-radius: 5px;
  width: 2.5rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 2.1rem;
  background-color: #fff;
  position: relative;
  z-index: 100;
}
.container__r__content__process-steps--1-text, .container__r__content__process-steps--2-text, .container__r__content__process-steps--3-text, .container__r__content__process-steps--4-text, .container__r__content__process-steps--5-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.container__r__content__process-steps--1-num {
  border: none;
  background-color: #FC983C;
  color: #fff;
}
.container__l__number-line {
  position: absolute;
  top: 14.9rem;
  left: 17rem;
}
.container__l__num-verify-icon {
  position: absolute;
  top: 10.9rem;
  left: 45.2rem;
}
.container__l-3 {
  width: 50%;
  background-color: #FFF2E3;
  padding: 5.5rem 0 0 14rem;
  box-sizing: border-box;
  position: relative;
}
.container__l__box {
  display: inline-block;
}
.container__l__box__email .email-input {
  width: 100%;
  color: #888888;
  padding: 2.1rem 0 2.3rem 3rem;
  box-sizing: border-box;
  border: none;
  outline: none;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 5px;
}
.container__l__box__email .email-input::-webkit-input-placeholder {
  color: #888888;
}
.container__l__box__number {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1019607843);
  display: inline-flex;
}
.container__l__box__number-code {
  background-color: #FEE7CF;
  border-radius: 5px 0 0 5px;
  z-index: 10;
}
.container__l__box__number-sendOtp {
  display: inline-block;
  padding: 1.7rem 6rem;
  background-color: #C4C4C4;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin-top: 5.3rem;
}
.container__l__box__number-text {
  color: #888888;
  padding: 2.2rem 6.7rem 2.2rem 1.9rem;
  background-color: #fff;
  border: none;
  outline: none;
}
.container__l__box__enter-otp-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container__l__box__enter-otp-top .detail {
  display: inline-flex;
  align-items: center;
}
.container__l__box__enter-otp-top .detail .time {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.150000006px;
  color: #F27B1A;
}
.container__l__box__enter-otp-top .detail .time-text {
  font-family: Inter;
  color: #F27B1A;
}
.container__l__box__enter-otp-top .detail .resend {
  color: #AFAEB0;
}
.container__l__box__enter-otp-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container__l__box__enter-otp-bottom-input--1, .container__l__box__enter-otp-bottom-input--2, .container__l__box__enter-otp-bottom-input--3, .container__l__box__enter-otp-bottom-input--4 {
  width: 7.5rem;
  height: 6rem;
  text-align: center;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 5px;
  border: none;
  outline: none;
}

.opac-steps {
  opacity: 35%;
}
.opac-steps span.number-shape {
  z-index: 1000;
  position: relative;
  border: 1px solid rgba(252, 152, 60, 0.2);
  background-color: rgb(255, 255, 255);
}

.container__r-4 {
  background-color: rgb(252, 252, 252);
}
.container__l-4 {
  position: relative;
  width: 50%;
  background-color: rgb(255, 242, 227);
}
.container__l-4 .user {
  padding: 0 14rem 2.3rem 14rem;
  color: rgb(65, 65, 65);
}
.container__l-4 .user__email {
  padding: 2.1rem 3rem;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  margin-top: -1.3rem;
}
.container__l-4 .user__email span {
  margin-right: 12.3rem;
}
.container__l-4 .user__v-line {
  margin-left: 3rem;
}
.container__l-4 .user__pan {
  color: rgb(65, 65, 65);
}
.container__l-4 .user__pan-input {
  width: 100%;
  color: #888888;
  padding: 2.1rem 0 2.3rem 3rem;
  box-sizing: border-box;
  border: none;
  outline: none;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 5px;
}
.container__l-4 .terms {
  padding: 0 4.1rem 0 12.7rem;
  display: flex;
  align-items: stretch;
}
.container__l-4 .terms-text {
  color: #000;
}
.container__l-4 .terms-label {
  display: -webkit-inline-box;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 1.5rem;
}
.container__l-4 .terms-checkmark {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 0.7499830723px 4.9998874664px 0px rgba(0, 0, 0, 0.1490196078) inset;
  border: 0.5px solid #AEC6D4;
}
.container__l-4 .authenticate {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #C4C4C4;
  border-radius: 5px;
  padding: 1.7rem 4rem;
  margin: 4rem 0 10.4rem 15.3rem;
}

.terms-label input[type=checkbox]:checked + .terms-checkmark {
  background-color: #FC983C;
  border: 1px solid #F2E4D6;
}

.popup {
  height: 100vh;
  width: 100%;
  background: rgba(7, 7, 7, 0.6980392157);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.popup__content {
  position: relative;
  width: 87.6%;
  background: linear-gradient(0deg, #fff, #fff), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 0.5px solid #CFD7ED;
  border-radius: 10px;
}
.popup__close {
  position: absolute;
  top: 2rem;
  cursor: pointer;
  right: 2rem;
}
.popup__container {
  padding: 3rem 5.6rem 6.7rem 4.9rem;
}
.popup__container-head {
  margin-top: 4.8rem;
}
.popup__container__cards {
  margin-top: 3rem;
  display: flex;
  align-items: stretch;
  gap: 2rem;
}
.popup__container__cards--1, .popup__container__cards--2, .popup__container__cards--3 {
  padding: 2rem 0 0 2rem;
  border: 1px solid #FFBE81;
  border-radius: 5px;
  width: 21.5rem;
}
.popup__container__cards--1-desc, .popup__container__cards--2-desc, .popup__container__cards--3-desc {
  color: #8B8B8B;
}
.popup__container-button {
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #F27B1A;
  background-color: #F27B1A;
  padding: 1.4rem 3rem;
  display: inline-block;
  color: #FFFFFF;
  border-radius: 5px;
}

.info {
  padding: 2rem;
  background-color: #F5F5F5;
  border-radius: 5px;
  margin: 0.9rem 10rem 2.6rem 5.9rem;
}
.info__inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info__inside-left {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=main.css.map */