// ----------------------------- DISPLAY -----------------------------------//
.d-flex {
    display: flex;
}

.align-center  {
    align-items: center;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

//if already a display is there 
.dn.dnone {
    display: none;
}
//---------------------------------------------------------------- SHADOW --------------------------------//
.light-shadow {
    box-shadow: 0 2px 8px #DEE3F266;
}

//---------------------------------------------------------------- BORDER --------------------------------//
.b-5 {
    border: .5px solid #CFD7ED;
    border-radius: 10px;
}

.p.pl {
    padding-right: 2.73rem;
}



.para-col {
    color: #414141;
}

//---------------------------------------------------------------- MARGINS BOTTOM--------------------------------//
.m-2 {
    margin-bottom: 0.2rem;
}

.m-3 {
    margin-bottom: 0.3rem;
}

.m-4 {
    margin-bottom: .4rem;
}

.m-5 {
    margin-bottom: .5rem;
}

.m-6 {
    margin-bottom: 0.6rem;
}

.m-7 {
    margin-bottom: .7rem;
}

.m-8 {
    margin-bottom: 0.8rem;
}

.m-9 {
    margin-bottom: .9rem;
}

.m-10 {
    margin-bottom: 1rem;
}

//---------------------------------------------------------------- MARGINS LEFT--------------------------------//
.ml-20 {
    margin-left: 2rem;
}

//---------------------------------------------------------------- MARGINS RIGHT--------------------------------//
.mr-6 {
    margin-right: .6rem;
}

//---------------------------------------------------------------- MARGINS TOP--------------------------------//
.mt-50 {
    margin-top: 5rem;
}

// ---------------------------------------------------------------- PADDING RIGHT ----------------------------------------------------------------//
.pr-22 {
    padding-right: 2.2rem;
}

.pr-37 {
    padding-right: 3.7rem;
}

.pr-29 {
    padding-right: 2.9rem;
}

// ---------------------------------------------------------------- PADDING BOTTOM ----------------------------------------------------------------//

.pb-10 {
    padding-bottom: 1rem;
}

.pb-16 {
    padding-bottom: 1.6rem;
}