// ----------------------------- DISPLAY -----------------------------------//
.d-flex {
    display: flex;
}

.align-center  {
    align-items: center;
}

.d-block {
    display: block;
}

//---------------------------------------------------------------- SHADOW --------------------------------//
.light-shadow {
    box-shadow: 0 2px 8px #DEE3F266;
}

//---------------------------------------------------------------- BORDER --------------------------------//
.b-5 {
    border: .5px solid #CFD7ED;
    border-radius: 10px;
}



.para-col {
    color: #414141;
}