// ----------------------------- DISPLAY -----------------------------------//
.d-flex {
    display: flex;
}

.align-center  {
    align-items: center;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.d-ib {
    display: inline-block;
}

//if already a display is there 
.dn.dnone {
    display: none;
}
//---------------------------------------------------------------- SHADOW --------------------------------//
.light-shadow {
    box-shadow: 0 2px 8px #DEE3F266;
}

//---------------------------------------------------------------- BORDER --------------------------------//
.b-5 {
    border: .5px solid #CFD7ED;
    border-radius: 10px;
}

.p.pl {
    padding-right: 2.73rem;
}



.para-col {
    color: #414141;
}

//---------------------------------------------------------------- MARGINS BOTTOM--------------------------------//
.m-2 {
    margin-bottom: 0.2rem;
}

.m-3 {
    margin-bottom: 0.3rem;
}

.m-4 {
    margin-bottom: .4rem;
}

.m-5 {
    margin-bottom: .5rem;
}

.m-6 {
    margin-bottom: 0.6rem;
}

.m-7 {
    margin-bottom: .7rem;
}

.m-8 {
    margin-bottom: 0.8rem;
}

.m-9 {
    margin-bottom: .9rem;
}

.m-10 {
    margin-bottom: 1rem;
}

.m-12 {
    margin-bottom: 1.2rem;
}

.m-13 {
    margin-bottom: 1.3rem;
}

.m-14 {
    margin-bottom: 1.4rem;
}

.m-15 {
    margin-bottom: 1.5rem;
}

.m-16 {
    margin-bottom: 1.6rem;
}

.m-17 {
    margin-bottom: 1.7rem;
}

.m-18 {
    margin-bottom: 1.8rem;
}

.m-20 {
    margin-bottom: 2rem;
}

.m-21 {
    margin-bottom: 2.1rem;
}

.m-44 {
    margin-bottom: 4.4rem;
}

//---------------------------------------------------------------- MARGINS LEFT--------------------------------//
.ml-20 {
    margin-left: 2rem;
}

//---------------------------------------------------------------- MARGINS RIGHT--------------------------------//
.mr-4 {
    margin-right: 0.4rem;
}

.mr-5 {
    margin-right: 0.5rem;
}

.mr-6 {
    margin-right: .6rem;
}

.mr-9 {
    margin-right: 0.9rem;
}

.mr-10 {
    margin-right: 1rem;
}

.mr-12 {
    margin-right: 1.2rem;
}

.mr-13 {
    margin-right: 1.3rem;
}

.mr-20 {
    margin-right: 2rem;
}


//---------------------------------------------------------------- MARGINS TOP--------------------------------//
.mt-2 {
    margin-top: 0.2rem;
}
.mt-53 {
    margin-top: 5.3rem;
}

.mt-56 {
    margin-top: 5.6rem;
}

.mt-16 {
    margin-top: 1.6rem;
}

.mt-20 {
    margin-top: 2rem;
}

.mt-21 {
    margin-top: 2.1rem;
}

.mt-50 {
    margin-top: 5rem;
}

// ---------------------------------------------------------------- PADDING RIGHT ----------------------------------------------------------------//
.pr-22 {
    padding-right: 2.2rem;
}

.pr-37 {
    padding-right: 3.7rem;
}

.pr-29 {
    padding-right: 2.9rem;
}

.pr-123 {
    padding-right: 12.3rem;
}

.pr-157 {
    padding-right: 15.7rem;
}

.pr-294 {
    padding-right: 29.4rem;
}
// ---------------------------------------------------------------- PADDING BOTTOM ----------------------------------------------------------------//

.pb-10 {
    padding-bottom: 1rem;
}

.pb-16 {
    padding-bottom: 1.6rem;
}

// ---------------------------------------------------------------- PADDING LEFT ----------------------------------------------------------------//

.pl-10 {
    padding-left: 1rem;
}

.pl-16 {
    padding-left: 1.6rem;
}

.pl-19 {
    padding-left: 1.9rem;
}

.pl-25 {
    padding-left: 2.5rem;
}

// ---------------------------------------------------------------- PADDING X ----------------------------------------------------------------//

.px-26 {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
}

// ---------------------------------------------------------------- PADDING Y ----------------------------------------------------------------//

.py-17 {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}


// ---------------------------------------------------------------- cursor --------------------------------//
.pointer {
    cursor: pointer;
}