@import url("https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Open+Sans:wght@300;400;500;600;700;800&family=Pacifico&display=swap");
:root {
  --color-primary-light:#F58F22;
  --color-primary-dark:#EF6712;
  --para:#414141;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media (max-width: 77.5em) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 64em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 43.25em) {
  html {
    font-size: 43%;
  }
}
@media (max-width: 32em) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: "open sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #F6F6F6;
}

.normal {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.f-10 {
  font-size: 1rem;
}

.f-11 {
  font-size: 1.1rem;
}

.f-12 {
  font-size: 1.2rem;
}

.f-14 {
  font-size: 1.4rem;
}

.f-16 {
  font-size: 1.6rem;
}

.f-18 {
  font-size: 1.8rem;
}

.f-20 {
  font-size: 2rem;
}

.l-16 {
  line-height: 1.6rem;
}

.l-18 {
  line-height: 1.8rem;
}

.l-19 {
  line-height: 1.9rem;
}

.l-20 {
  line-height: 2rem;
}

.l-21 {
  line-height: 2.1rem;
}

.l-22 {
  line-height: 2.2rem;
}

.l-24 {
  line-height: 2.4rem;
}

.l-26 {
  line-height: 2.6rem;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.d-block {
  display: block;
}

.light-shadow {
  box-shadow: 0 2px 8px rgba(222, 227, 242, 0.4);
}

.b-5 {
  border: 0.5px solid #CFD7ED;
  border-radius: 10px;
}

.m-5 {
  margin-bottom: 4.9rem;
}

.para-col {
  color: var(--para);
}

.container {
  max-width: 96rem;
  margin: 0 auto;
  position: relative;
}

.header {
  box-sizing: content-box;
  height: 5.9rem;
  border-bottom: 5rem solid transparent;
  -o-border-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
     border-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  border-image-slice: 1;
}
.header__logo {
  box-sizing: content-box;
  padding: 0 0 1.5rem 1.1rem;
  height: 4.6rem;
  width: 22.8rem;
}

.top-paragraph {
  display: inline-block;
  margin-top: 2.2rem;
  margin-left: 14rem;
  color: var(--para);
}
.top-link {
  position: absolute;
  top: 3.1rem;
  right: 12rem;
  color: #004A7F;
}
.top-img {
  position: absolute;
  top: 3.1rem;
  right: 12rem;
}

.process {
  margin: 2.8rem 12rem 0;
  position: relative;
}
.process__step-icon--1 {
  left: 2.7rem;
  position: absolute;
  z-index: 20;
}
.process__step-icon--2 {
  position: absolute;
  left: 34.5rem;
  z-index: 20;
}
.process__step-icon--3 {
  position: absolute;
  right: 3rem;
  z-index: 20;
}
.process__progress-line {
  position: absolute;
  left: 3.7rem;
  top: 1.5rem;
  z-index: 10;
}
.process__name {
  margin-top: 4rem;
}
.process__name-section {
  text-align: center;
  justify-content: space-between;
  color: var(--para);
}
.process__name-col {
  color: #C4C4C4;
}

.content {
  margin: 1.6rem 12rem 0;
  padding: 2rem 2rem;
  border: 0.5px solid #CFD7ED;
  border-radius: 10px;
  background-color: #fff;
}
.content__user-id {
  margin-top: 1.5rem;
}
.content__account {
  overflow: hidden;
  margin-top: 1.1rem;
  min-width: 68rem;
  border-spacing: 0;
  text-align: center;
}
.content__account-heading {
  margin-top: 3rem;
}
.content__account__details {
  text-align: center;
  color: #4A4A4A;
  letter-spacing: 0.5px;
}

.info {
  border-bottom: 1px solid #CFD7ED;
}

thead tr {
  border-radius: 9px;
  background-color: #FFE6D1;
}

th {
  padding: 1.5rem 0;
}

td {
  padding: 2rem 0;
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: 0.5px;
}

.terms {
  margin-top: 4rem;
  padding-right: 3.8rem;
  padding-bottom: 2rem;
}
.terms--2 {
  margin-top: 1.1rem;
}
.terms__care {
  margin-top: 1rem;
}
.terms__anchor {
  color: #176ABE;
}
.terms__proceed-btn {
  cursor: not-allowed;
  margin-top: 3rem;
}
.terms .term {
  display: flex;
}

.buttons {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.user-box {
  border: 0.5px solid #CFD7ED;
  border-radius: 10px;
  margin: 1.5rem 0 3rem;
  overflow: hidden;
  display: flex;
  width: -moz-max-content;
  width: max-content;
}
.user__details {
  padding: 2rem;
  border-right: 1px solid #CFD7ED;
  display: flex;
  gap: 1.7rem;
}
.user__details-info__test-user {
  margin-bottom: 0.5rem;
}
.user__details-info__test-acc--1 {
  margin-bottom: 2.5rem;
}
.user__link {
  padding: 2rem 3rem 0;
}

.card {
  margin-top: 1.5rem;
}
.card-box {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  row-gap: 2.7rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  width: 60.6rem;
}
.card__img {
  grid-area: 1/1/-1/2;
}
.card__details {
  display: flex;
  gap: 1rem;
  text-align: center;
}
.card__details__box--1, .card__details__box--2, .card__details__box--3 {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.card__details-input {
  outline: none;
  border: 1px solid #6E8CA6;
  border-radius: 7px;
  text-align: center;
  width: 5.5rem;
  height: 3rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--para);
}
.card__details-input::-webkit-input-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.8rem;
}

.otp {
  margin-top: 3rem;
  display: none;
}
.otp:target {
  display: block;
}
.otp-resend {
  font-family: Helvetica, sans-serif;
  line-height: 1.15rem;
  margin-left: 12rem;
  color: #004A7F;
}
.otp__submit__section {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.otp__submit__section-field {
  margin-right: 1rem;
  border: 1px solid #6E8CA6;
  border-radius: 7px;
  padding: 6px 0 4px 11px;
  outline: none;
  width: 16.9rem;
}
.otp__submit__section-img {
  margin-right: 1.5rem;
}
.otp__read {
  margin-top: 2rem;
  padding-right: 10.3rem;
}
.otp__read-p2 a {
  color: #004A7F;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.4rem;
  height: 1.8rem;
  margin-right: 1.3rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 1px;
  bottom: 1.5px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #F27B1A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(1.6rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1.6rem;
}

.slider.round:before {
  border-radius: 50%;
}

.toogle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox {
  display: inline-block;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.custom-checkbox input[type=checkbox] {
  display: none;
}

.custom-checkbox .checkmark {
  width: 1.64rem;
  height: 1.64rem;
  background-color: #fff;
  border: 0.75px solid #6E8CA6;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

.custom-checkbox input[type=checkbox]:checked + .checkmark {
  background-color: #f27b1a;
  border-color: #f27b1a;
}

.btn {
  width: 13.1rem;
  padding: 1.1rem 0;
  background-color: #C4C4C4;
  display: inline-block;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.2s;
}

.back-btn {
  border: 2px solid #F27B1A;
  background-color: #fff;
  color: #F27B1A;
}

.otp-btn {
  cursor: not-allowed;
}/*# sourceMappingURL=main.css.map */