// ----------------------------- DISPLAY -----------------------------------//
.d-flex {
    display: flex;
}

.align-center  {
    align-items: center;
}

.d-block {
    display: block;
}

//---------------------------------------------------------------- SHADOW --------------------------------//
.light-shadow {
    box-shadow: 0 2px 8px rgba(#DEE3F266 , .4);
}

//---------------------------------------------------------------- BORDER --------------------------------//
.b-5 {
    border: .5px solid #CFD7ED;
    border-radius: 10px;
}

.m-5 {
    margin-bottom: 4.9rem;
}