.cal {
    height: 100vh;
    width: 100%;
    background: #070707B2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    &__exp {

        &-total {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .head {
                color: #363636;
            }
            .cost {
                letter-spacing: 0.2px;
                color:  #E77817;
                padding-right: 3.1rem;
                display: flex;
                span {
                    font-weight: 400;
                    font-size: 1.4rem;
                }
            }
        }

        &-line {
            border: 1px solid #F0A96A;
        }
        padding: 0 4.9rem 3.8rem 3.1rem;

        &-type {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
            .name {
                color: #363636;
                font-size: 1.4rem;
                line-height: 1.6rem;
            }
            .counter {
                border: 1px solid #6E8CA6;
                border-radius: 3px;
                display: flex;
                align-items: center;
                color: #6D6D6D;
                height: 3.5rem;
                box-shadow: 0px 0.7360922694206238px 2.944369077682495px 0px #0000001A;

                .count {
                    padding: 1.1rem 2.6rem 1.1rem 1.1rem;
                    font-size: 1.4rem;
                    line-height: 1.1rem;
                }

                .dec {
                    border: none;
                    color: #6D6D6D;
                    border-right: 1px solid #6E8CA6 ;
                    background-color: transparent;
                    font-weight: 100;
                    font-size: 2.5rem;
                    width: 3rem;
                    height: 3.5rem;
                    cursor: pointer;
                }

                .inc {
                    border: none;
                    color: #6D6D6D;
                    width: 3rem;
                    border-left: 1px solid #6E8CA6 ;
                    background-color: transparent;
                    font-weight: 100;
                    font-size: 2.5rem;
                    height: 3.5rem;
                    cursor: pointer;
                }
            }
        }
    }

    &__heading {
        color:  #363636;
    }

    &__gen {
        padding: 0 3.3rem 4.271rem;
        // &-screen {
        //     border: 1.05px solid #FCCCA6;
        //     background-color: #fff;
        //     border-radius: 5.27px;
        //     display: flex;
        //     align-items: flex-end;
        //     justify-content: flex-end;
        //     .result {
        //         color: #363636;
        //         font-size: 5rem;
        //         line-height: 6.8rem;
        //         padding: 3.6rem 2.9rem 1.3rem;
        //     }
        // }

        &-screen {
            width: 27.1rem;
            border: 1.05px solid #FCCCA6;
            border-radius: 5.27px;
            background-color: #fff;
            padding: 3.6rem 2.9rem 1.3rem 0;
            font-size: 5rem;
            line-height: 6.8rem;
            text-align: right;
            box-sizing: border-box;
            outline: none;
            color: #263238;

            &::-webkit-input-placeholder {
                color: #263238;
            }
        }

        &-buttons {
            display: grid;
            grid-template-columns: repeat(4,5.671rem);
            grid-template-rows: repeat(5, 5.848rem);
            column-gap: 1.772rem;
            row-gap: 1.772rem;

            .btn {
                border: none;
                border-radius: 50%;
                font-size: 32px;
                line-height: 43px;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            .operator {
                background-color: #F27B1A;
            }
            .operand {
                background-color: #6B6F72;
            }

            .zero {
                grid-column-start: 1;
                grid-column-end: 3;
                border-radius: 3.8rem;
                justify-content: start;
                padding-left: 2rem;
            }
            .f{
                font-size: 23px;
                line-height: 31px;
            }
            .minus {
                font-size: 57px;
                font-weight: 300;
                line-height: 77px;
            }
        }
    }

    &__content {
        position: relative;
        border: 1px solid #FCCCA6;
        background-color: #FFF6F1;
        padding-top: 4rem;

        border-radius: 1.2rem;
        &-close-circle-icon {
            top: 2rem;
            right: 2rem;
            z-index: 10;
            position: absolute;
        }
        &-close-cross-icon {
            top: 3.05rem;
            right: 2.9rem;
            position: absolute;
            z-index: 20;
        }
    }
    &__types {
        border: 1px solid #F27B1A;
        border-radius: 17.5px;
        display: inline-block;
        margin: 0 4.1rem 0 1.9rem;
        background-color: #fff;
        display: flex;
        align-items: center;

        &--1 {
            letter-spacing: 0.3px;
            color: #F27B1A;
            border-radius: 17px;
        }
        &--2 {
            color: #fff;
            border-radius: 17px;
            background-color: #F27B1A;
        }
    }

    &__type {
        padding: .5rem 2rem;
        //text-transform: uppercase;
        text-decoration: none;
        transition: background-color .5s, color .5s;
    }
}