//----------------------------------- para color ----------------------------------------//
.para-col {
    color : var(--para);
}

// ------------------------------------------------   CONTAINER  ---------------- --------------------------------    //
.container {
    max-width: 96rem;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 2.2rem 12rem 0;
}

// ------------------------------------------------   header  ---------------- --------------------------------    //
.header {
    height: 5.9rem;
    border-bottom: 5rem solid transparent;
    border-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    border-image-slice: 1;
    
    &__logo {
        box-sizing: content-box;
        padding: 0 0 1.5rem 1.1rem;
        height: 4.6rem;
        width: 22.8rem;
    }
}

// ------------------------------------------------   top-section  ---------------- --------------------------------    //
.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-paragraph {
        display: inline-block;
        margin-left: 2rem;
        color : var(--para);
    }
    &-link {
        margin-top: 0.9rem;
        color: #004A7F;
    }
}

// ------------------------------------------------ Process 
.process {
    margin: 2.8rem 0 0;
    position: relative;
    
     
    // test purpose
    

    &__step-icon {
        &--1 {
            left: 2.7rem;
            position: absolute;
            z-index: 20;
        }
        &--2 {
            position: absolute;
            left: 34.5rem;
            z-index: 20;
        }

        &--3 {
            position: absolute;
            right: 3rem;
            z-index: 20;
        }
        
    }

    &__progress-line {
        position: absolute;
        left: 3.7rem;
        top: 1.5rem;
        z-index: 10;
    }
    

    &__name {
        margin-top: 4rem;
        &-section {
            text-align: center;
            justify-content: space-between;
            color: var(--para);
        }
        &-col {
            color : #C4C4C4;
        }
    }
}


//---------------------------------------------------------------- CONTENT ----------------------------------------------------------------//
.content {
    margin: 1.6rem 0 0;
    padding: 2rem 2rem;
    border: .5px solid #CFD7ED;
    border-radius: 10px;
    background-color: #fff;

    &__user-id {
        margin-top: 1.5rem;
    }

    &__account {
        overflow: hidden;
        margin-top: 1.1rem;
        min-width: 68rem;
        border-spacing: 0;
        text-align: center;

        &-heading {
            margin-top: 3rem;
        }

        &__details {
            text-align: center;
            color: #4A4A4A;
            letter-spacing: .5px;
        }

        // &__header {
        //     &-subhead--1 {
        //         padding-left: 2.2rem;
        //     }
        // }
    }
}

.info {
    border-bottom: 1px solid #CFD7ED;
}

thead tr{
    border-radius: 9px;
    background-color: #FFE6D1;
}

th {
    padding: 1.5rem 0;
}

td {
    padding: 2rem 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 0.5px;
}



//---------------------------------------------------------------- TERMS ----------------------------------------------------------------//
.terms {
    margin-top: 4rem;
    padding-right: 3.8rem;
    padding-bottom: 2rem;

    &--2 {
        margin-top: 1.1rem;
    }

    &__care {
        margin-top: 1rem;
    }

    &__anchor {
        color: #176ABE;
    }

    &__proceed-btn {
        cursor: not-allowed;
        margin-top: 3rem;
        background-color: #C4C4C4;
        pointer-events: none;
    }

    .term {
        display: flex;
    }
}



