
//---------------------------------------------------------------- content ----------------------------------------------------------------//
.content--3 {
    padding: 2.5rem 0 4rem;
}

//---------------------------------------------------------------- content ---------------------------------------------------------------- greet --------------------------------//
.greet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    
}


//---------------------------------------------------------------- content ---------------------------------------------------------------- USER --------------------------------//
.user {
    text-align: center;

    &__id {
        margin-bottom: 1rem;
    }
}

//---------------------------------------------------------------- content ---------------------------------------------------------------- PROCESS --------------------------------//
.progress {
    text-align: center;
    margin: 2rem 0 3rem;
    padding:0 8.5rem 0 10.5rem;
    &__request {
        display: flex;
        justify-content: space-between;
    }

    &__line {
        margin-top: 1rem;
    }

    &__button {
        text-align: center;
    }

    &__para {
        margin-top: 2rem;
    }
}

.cnt-btn.btn {
    background-color: #F27B1A;
}