
//---------------------------------------------------------------- content ----------------------------------------------------------------//
.content--3 {
    padding-top: 2.5rem;
}

//---------------------------------------------------------------- content ---------------------------------------------------------------- greet --------------------------------//
.greet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    
}


//---------------------------------------------------------------- content ---------------------------------------------------------------- USER --------------------------------//
.user {
    text-align: center;

    &__id {
        margin-bottom: 1rem;
    }
}