.container {

    &__r {

        &-3 {
            width: 50%;
            background-color: #fff;
            height: 50rem;
        }
        &__content {
            padding: 5.3rem 4.18rem 4.4rem 9.1rem;
    
            &__back {
                display: flex;
                align-items: center;

                &-text {
                    color :#FC983C;
                }
            }
        }
    }

    &__l {

        &-3 {
            width: 50%;
            background-color: #FFF2E3;
            height: 50rem;
        }
    }

    
}